.hero {
    .container {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 400px;                
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 118px;
        padding-bottom: 118px;
        @include mobile {
                width: 480px;
            }
        
            @include tablet {
                width: 768px;
            }
        
            @include desktop {
                width: 1200px;
            }
    }
    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6153;
        color: var(--white-bg-txt);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include desktop{
            font-size: 44px;
            line-height: 1.3636;
        }
    }
    
    &__button {
        font-family: 'Roboto', sans-serif;
        width: 200px;
        height: 50px;
        background: var(--main-active-color);
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--white-bg-txt);
        border-radius: 4px;
    }
}