.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-adapt/mobile-hero.jpg);
    max-width: 1600px;
    margin: 0 auto;
    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-adapt/mobile-hero@2.jpg);
    }
    @include tablet {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab-adapt/tablet-hero.jpg);
    }
    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab-adapt/tablet-hero@2.jpg);
    }
    @include desktop {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deck-adapt/decktop-hero.jpg);
    }
    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deck-adapt/decktop-hero@2.jpg);
    }
    .container {   
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 480px) {
            padding-top: 118px;
            padding-bottom: 118px;
            padding-right: 30px;
            padding-left: 30px;
        }
        @include mobile {
            padding: 118px 60px;
        }    
        @include tablet {
            padding: 118px 204px;
        }        
        @include desktop {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6153;
        color: var(--white-bg-txt);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include desktop{
            font-size: 44px;
            line-height: 1.3636;
        }
    }
    
    &__button {
        font-family: 'Roboto', sans-serif;
        width: 200px;
        height: 50px;
        background: var(--main-active-color);
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--white-bg-txt);
        border-radius: 4px;
    }
}