.specialisation {
    padding-bottom: 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: 450px;
        @include tablet {
            width: calc((100% - 30px) / 2);
        }
        @include desktop{
            width: calc((100% - 90px) / 4);
        }
        // &:not(:last-child) {
            // margin-right: 30px;
        // }
    }

    &__container {
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
        @include tablet{
            text-align: unset;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }
}